/* 
    ---------------------------------------------------------------
    Add your name to this file below:
    NAME: Owen van der Zwan
    ---------------------------------------------------------------
*/


/* Remember, the root element is where you can declare CSS variables */
:root {
	/* Theme colors in CSS variables */
	--lime: #41c84c;
	--mint: #9ee3a4;
	--teal: #41c8b1;
	--tiffany: #9ee3d7;
	--plum: #6e2275;
	--amethyst: #bc41c8;

	/* text and background colors */
	--white: #fff;
	--lt-gray: #eaeaea;
	--med-gray: #555;
	--dk-gray: #222;

	/* Font Stacks */
	/* add the two font stacks here */
	
	--heading-fonts: 'Seymour One', Impact, sans-serif;
	--body-fonts: Lato, Arial, sans-serif;
}

body {
	/* set the font family to Lato, Arial, sans-serif (--body-fonts) */
	font-family: var(--body-fonts);
	/* Set the line height to 1.5 */
	line-height: 1.5;
	/* set the font size to 1.1rem	*/
	font-size: 1.1rem;
	/* set the font color to #222 (--dk-gray) */
	color: var(--dk-gray);
	margin: 0;
	padding: 0;
}

header {
	padding: 1rem;
	background-color: var(--plum);
	color: var(--white);
	border-bottom: 8px solid var(--teal);
}

h1,
h2,
h3 {
	/* center align the text */
	text-align: center;
	/* use a web font here (instructions on page) */
	font-family: var(--heading-fonts);
	/* make the heading text all small caps style */
	font-variant: small-caps;
}

h2 {
	margin: 0;
	padding: 4px;
	text-decoration: dotted underline var(--teal) 4px;
}

h3 {
	margin: 0;
	padding: 4px;
	/* add an underline like the one on the h2s to the h3s, but make it solid and mint color */
	text-decoration: solid underline var(--mint) 4px;
}

nav {
	margin: 0 auto;
	padding: 0.5rem 0;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
}

nav a {
	/* make these display as block level elements */
	display: block;
	margin: 1rem auto;
	padding: 1rem;
	background-color: var(--tiffany);
	/* set the font color to #222 (--dk-gray) */
	color: var(--dk-gray);
	/* center align the text */
	text-align: center;
	/* remove the underline */
	text-decoration: none;
	/* make the font's size 1.2rem */
	font-size: 1.2rem;
	/* make the font bolder (600) */
	font-weight: 600;
}

nav a:hover {
	color: var(--dk-gray);
	background-color: var(--teal);
}

main {
	padding: 2rem 1rem;
}

section {
	padding: 1rem;
}

#fonts,
#text {
	border-bottom: 4px solid var(--plum);
}

p {
	/* set a max-width of 55 characters */
	max-width: 55ch;
	/* add an indent on the first line of 2rem */
	text-indent: 2rem;
	/* center those paragraphs (not the text) on the page */
	margin: 0 auto;
	padding: 0.5rem;
}

a {
	color: var(--plum);
}

a:hover {
	color: var(--lime);
}

dl,
ol,
main ul {
	/* limit the width of these lists to 55 characters */
	max-width: 55ch;
	margin: 1rem auto;
}

dt {
	/* make this font display in bold weight */
	font-weight: bold;
}

dt::before {
	color: var(--amethyst);
	content: "\2605";
	padding-right: 4px;
}

footer {
	padding: 1rem;
	background-color: var(--plum);
	color: var(--white);
	text-align: center;
	border-top: 8px solid var(--teal);
}


/* 
    THIS CODE IS A MEDIA QUERY, USED TO ADD STYLES BASED ON HOW WIDE THE SCREEN IS. IT IS PART OF WHAT IS MAKING THE SITE RESPONSIVE

    LEARN MORE ABOUT RESPONSIVE DEVELOPMENT IN GIT414
*/
@media screen and (min-width: 450px) {
	nav {
		width: fit-content;
	}

	nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
	}
}